

h1 {
    color: #808080;
}

.portrait {
    border-radius: 50%;
}

.img-container {
    width:100px; 
    height: 100px;
}

.jumbotron{
    text-align: center;
    align-items: center;
}

.lower-half{
    justify-content: center;
}

