h1{
    justify-content:  center;
    
}
h2 {
    justify-content:center;
    color: #808080;
}

.img-container {
    justify-content: center;
    width:200px; 
    height: 200px;

}

.portrait {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.jumbotron{
    justify-content: center;
    
}

.lower-half{
    
    justify-content: center;
}

.hover{
    text-decoration-color: darkblue;

}